netflix

<!-- <mat-video title="Bridget Jones Diary" poster="https://cropper.watch.aetnd.com/cdn.watch.aetnd.com/sites/5/2018/04/BridgetJones_1.jpg?w=900" src="http://167.114.174.132:9092/movies/Batch227/Resident.Evil.The.Final.Chapter.2016.720p.BluRay.x264-%5BYTS.AG%5D.mp4" autoplay=true fullscreen=false showFrameByFrame=true></mat-video> -->

<video id="my-video" class="video-js" controls preload="auto" width="640" height="264" poster="MY_VIDEO_POSTER.jpg" data-setup='{}'>
	<source src="http://167.114.174.132:9092/movies/Batch227/Resident.Evil.The.Final.Chapter.2016.720p.BluRay.x264-%5BYTS.AG%5D.mp4"
	 type='video/mp4'>
	<p class="vjs-no-js">
		To view this video please enable JavaScript, and consider upgrading to a web browser that
		<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
	</p>
</video> 